<!--This page is the home page that shows our API services--!>
{% extends "base.html" %}
{% block content %}
	<p class=" h2 text-muted lead text-center a1">This platform helps you analyze image, video and audio files using Google Cloud Vision API,<br/> 
	Google Cloud Translate API, Google Cloud Natural Language Processing API,<br/>
       	Google Cloud Video Intelligence API and Google Cloud Speech To Text API.</p> 
                <br/>
  
<div class="flex-container">
        <div id="b">

		<img src="{{ url_for('static', filename='3.png') }}" id="first" width="150px" height="150px" />
                <p id="link">To analyze a photo</p>
		<a href="{{ url_for('imagepage') }}" id="click">Click here</a>
        </div>
        <div id="b">
		<img src="{{url_for('static', filename='1.jpg')}}" id="first"  width="150px" height="150px"/>
                <p id="link">To analyze a video</p>
		<a href="{{ url_for('videopage') }}" id="click">Click here</a>
        </div>
        <div id="b">
		<img src="{{url_for('static', filename='2.JPG')}}" id="first" width="150px" height="150px" />
            <p id="link">To analyze a speech</p>
	    <a href="{{ url_for('speechpage') }}" id="click">Click here</a>
        </div>  
</div>

{% endblock %}
