<!--This page displays the result from image analysis--!>
{% extends "base.html" %}
{% block content %}
  <h1>Results:</h1>
  <div class="flex-container">
    <div id="s" style="flex:2">
	<h4 style="font-weight: bold">Uploaded Image</h4>
	<img src="{{source_uri}}" width="200px" height="200px">
    </div>
    <div id="s" style="flex:2">
	<h4 style="font-weight: bold">Cloud Vision API Analysis</h4>
	{%for i in range (n)%}
	<h4 style="padding-top:7px">{{labels[i].description}}</h4>
	{%endfor%}
   </div>
   <div id="s" style="flex:2">
	<h4 style="font-weight: bold">Cloud Translate API Analysis</h4>
	{%for i in range (n)%}
	<h4 style="padding-top: 7px">{{result[i].translatedText}}</h4>
	{%endfor%}
   </div>   
																			        
  </div>  
{% endblock %}
